@import './fonts';
@import './variables';
@import './form/panelCheckBox';

html {
  font-size: 62.5%;
  font-family: ArchivoNarrow, sans-serif;
  color: $dark-grey1;
  line-height: 1.4;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  background: #010101;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

body > canvas,
#main-stage {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: 11000;
}

.scrollbar {
  scrollbar-width: 2rem;
  scrollbar-color: $dark-grey3 $light-grey7;
  &::-webkit-scrollbar {
    width: 2rem;
  }
  &::-webkit-scrollbar-track {
    background: $light-grey7;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $dark-grey3;
    border-radius: 1rem;
    border-left: 0.8rem solid $light-grey7;
    border-right: 0.8rem solid $light-grey7;
  }
}
