// Colors:
$font-color: #ccc;
$font-color-dialog: #333;
$colorPanelBack: #252525;
$dialog-button-alert-bolor: rgb(92, 25, 25);

// Sizes:
$rightPanelWidth: 30rem;
$rightPanelButtonWidth: 5rem;
$rightPanelButtonHeight: 5rem;
$rightPanelButtonGap: 0.2rem;
