@import '../sass/variables';

.uiPanelRight {
  position: fixed;
  top: 0;
  right: 0;
  width: $rightPanelWidth;
  height: 100vh;
  background-color: $light-grey7;
  border-left: 0.1rem solid $mid-grey5;
  transition: transform 0.2s ease-in-out;
  transform: translate3d(100%, 0, 0);
  font-size: 1.1rem;
  padding: 9.7rem 0 0 2rem;
  :global(h3.panelTitle) {
    width: 100%;
    font-family: FredokaOne, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    padding: 1.3rem 6rem 0.4rem;
    margin: 0 0 0.4rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 9.7rem;
    background-color: $light-grey7;
    color: $mid-grey1;
  }
  :global(.mainTabIcon) {
    position: absolute;
    top: 1.7rem;
    left: 2.7rem;
    z-index: 25;
    path {
      fill: $mid-grey1;
    }
  }
  // :global(.form-elem--vector-input) {
  //   position: relative;
  //   > :global(.form-elem__label) {
  //     position: absolute;
  //     left: 0;
  //     top: -0.2rem;
  //     color: darken(#fff, 50%);
  //     font-size: 0.8rem;
  //     font-weight: 700;
  //   }
  //   :global(.form-elem__fields) {
  //     margin-top: 0.7rem;
  //     :global(.form-elem__label) {
  //       position: relative;
  //       width: 2.1rem;
  //       &:before {
  //         display: block;
  //         content: '•';
  //         font-size: 2rem;
  //         line-height: 1rem;
  //         position: absolute;
  //         left: 0;
  //         top: 0.3rem;
  //       }
  //     }
  //     :global(.form-elem:nth-child(1) .form-elem__label:before) {
  //       color: red;
  //     }
  //     :global(.form-elem:nth-child(2) .form-elem__label:before) {
  //       color: green;
  //     }
  //     :global(.form-elem:nth-child(3) .form-elem__label:before) {
  //       color: blue;
  //     }
  //     :global(.form-elem:nth-child(4) .form-elem__label:before) {
  //       color: #fff;
  //     }
  //     :global(.form-elem + .form-elem) {
  //       border-top: none;
  //       margin-top: 0;
  //     }
  //   }
  // }
  :global(.form-elem--action-buttons button) {
    border: none;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    background: #eaeaea;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    + :global(button) {
      margin-left: 0.3rem;
    }
    &:hover {
      background: darken(#eaeaea, 20%);
    }
    &:global(.delete-button) {
      background: rgb(112, 27, 27);
      color: #ccc;
      &:hover {
        background: darken(rgb(112, 27, 27), 5%);
      }
    }
  }
}

.uiPanelRightInner {
  height: 100%;
  overflow-y: scroll;
}

.showPanel {
  transform: translate3d(0, 0, 0);
}

.tabButtonWrapper {
  width: $rightPanelButtonWrapperWidth;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  padding: 0.1rem;
  border-radius: 0.4rem 0 0 0.4rem;
  background-color: $light-grey4;
  border: 0.1rem solid $mid-grey5;
  :global(.panelTogglerButton) {
    background-color: $light-grey4;
    transition: background-color 0.1s ease-in-out;
    width: $rightPanelButtonWidth;
    height: $rightPanelButtonHeight;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    color: $mid-grey1;
    border-top: 0.1rem solid $light-grey6;
    border-bottom: 0.1rem solid $mid-grey4;
    padding-top: 0.4rem;
    &:hover {
      background-color: $light-grey1;
    }
    &:global(.current) {
      border-bottom: 0.1rem solid $light-grey6;
      border-top: 0.1rem solid $mid-grey4;
      background-color: $mid-grey5;
    }
    &:first-child {
      border-radius: 0.4rem 0 0 0;
      border-top-color: transparent;
    }
    &:last-child {
      border-radius: 0 0 0 0.4rem;
      padding-top: 0.4rem;
      border-bottom-color: transparent;
    }
    svg path {
      fill: $mid-grey1;
    }
  }
}

:global(.panelActionButtons) {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  z-index: 30;
  padding: 0 2rem;
}
:global(.panelActionButton) {
  width: 3.6rem;
  height: 3.6rem;
  background-color: $mid-grey1;
  border: none;
  padding-top: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0 -0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: $dark-grey3;
  }
  path {
    fill: $white;
  }
}

:global(.collapsable-panel__content) {
  display: flex;
  align-content: space-around;
  gap: 1.1rem;
  flex-wrap: wrap;
}

:global(.panelTitle) {
  width: 100%;
  text-align: left;
  margin-bottom: -0.7rem;
  padding-left: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: $mid-grey1;
  &:global(.overline) {
    border-top: 0.1rem solid $mid-grey4;
    padding-top: 0.5rem;
  }
}
