.imageInput {
  width: 100%;
  position: relative;
  overflow: visible;
  > label > .form-elem__label {
    left: 3.6rem;
    top: 0.3rem;
  }
  .mainImageWrapper {
    @include checker-background;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
    border: 0.1rem solid $light-grey6;
    overflow: hidden;
    position: relative;
    transition: border-color 0.15s ease-in-out;
    position: relative;
    z-index: 10;
    .ui-icon {
      margin: 0.2rem 0 0 0.5rem;
      position: absolute;
      z-index: 0;
    }
    img {
      width: 2.8rem;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &.clickable {
      cursor: pointer;
      &:hover {
        border-color: $mid-grey2;
      }
    }
  }
  &.noImage {
    .mainImageWrapper {
      background: none;
      border-color: transparent;
    }
  }
  .openChangeImagePopoverBtn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.08);
    }
    &:active {
      background-color: transparent;
    }
  }
  .removeImageBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: none;
    background: transparent;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    path {
      fill: $mid-grey3;
      transition: fill 0.15s ease-in-out;
    }
    &:hover,
    &:focus {
      path {
        fill: $mid-grey1;
      }
    }
  }
  > .fileName {
    position: absolute;
    left: 3.6rem;
    top: 1.1rem;
  }
  > .fileId {
    position: absolute;
    right: 0.4rem;
    top: 2.2rem;
    color: $mid-grey4;
  }

  // Popover
  .menuButtons {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

// The image preview dialog
.imagePreviewWrapper {
  width: 100%;
  padding-bottom: 4rem;
  h3 {
    margin: 0 0 1rem 0;
    @include heading-font;
  }
  img {
    width: 100%;
    height: auto;
  }
  &.fullSize {
    img {
      width: auto;
    }
  }
  span {
    display: block;
  }
}
