.texture {
  width: 100%;
  position: relative;
  overflow: visible;
  min-height: 3.6rem;
  height: auto;
  .textureInput {
    width: 100%;
    position: relative;
    overflow: visible;
    margin-bottom: 0;
    > label > .form-elem__label {
      left: 3.6rem;
      top: 0.3rem;
    }
    > .mainImageWrapper {
      @include checker-background;
      width: 3rem;
      height: 3rem;
      margin: 0.2rem;
      border-radius: 0.2rem;
      border: 0.1rem solid $light-grey6;
      overflow: hidden;
      position: relative;
      .ui-icon {
        margin: 0.2rem 0 0 0.5rem;
        position: absolute;
        z-index: 0;
      }
      img {
        width: 2.8rem;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
  &.noImage {
    .textureInput > .mainImageWrapper {
      background: none;
      border-color: transparent;
    }
  }
  .textureName {
    position: absolute;
    left: 3.65rem;
    top: 1.2rem;
    font-size: 1rem;
    color: $dark-grey2;
    @include basetext-font-bold;
  }
  .textureTypeAndUseCases {
    position: absolute;
    left: 3.65rem;
    top: 2.2rem;
    font-size: 0.9rem;
    color: $mid-grey4;
  }
  .textureButtons {
    position: absolute;
    top: 0.7rem;
    right: 1.8rem;
    z-index: 20;
  }
  .removeTextureBtn {
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
    z-index: 20;
    path {
      transition: fill 0.15s ease-in-out;
      fill: $mid-grey3;
    }
    &:hover,
    &:focus {
      path {
        fill: $mid-grey1;
      }
    }
  }
  &.noTexture {
    .removeTextureBtn {
      display: none;
    }
  }

  &.hasTexture {
    .textureInput {
      border-radius: 0.4rem 0.4rem 0 0;
    }
  }
  .textureParamsWrapper {
    position: relative;
    padding-bottom: 1.6rem;
    background-color: $mid-grey3;
    border-radius: 0 0 0.4rem 0.4rem;
  }
  &.noTexture {
    .textureParamsWrapper {
      display: none;
    }
  }
  $gap: 0.4rem;
  .textureParamsContents {
    padding: $gap;
    display: flex;
    gap: $gap;
    flex-wrap: wrap;
    &.hide {
      display: none;
    }
    .imageInput {
      width: calc(75% - ($gap / 2));
      border-color: $light-grey7;
      margin-bottom: 0;
    }
    .halfWidth {
      width: calc(50% - ($gap / 2));
      margin-bottom: 0;
    }
    .oneFourthWidth {
      width: calc(25% - $gap + 0.1rem);
      margin-bottom: 0;
    }
  }
  .toggleParamsContent {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1.6rem;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 0.4rem 0.4rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:before,
    &:after {
      display: block;
      content: '';
      width: 0.9rem;
      height: 0.3rem;
      background-color: $white;
      border-radius: 0.1rem;
      position: absolute;
      top: 0.6rem;
      left: 50%;
      transform: translateX(-50%);
      transition: transform 0.2s ease-in-out;
    }
    &:before {
      transform: rotate(-45deg);
      margin-left: 0.2rem;
    }
    &:after {
      transform: rotate(45deg);
      margin-left: -0.2rem;
    }
    &.hide {
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &:focus {
      &:before {
        background-color: $light-grey6;
      }
      &:after {
        background-color: $light-grey6;
      }
    }
  }
}
