@font-face {
  font-family: ArchivoNarrow;
  src: url(../../fonts/ArchivoNarrow-Medium.woff2) format('woff2'),
    url(../../fonts/ArchivoNarrow-Medium.woff) format('woff'),
    url(../../fonts/ArchivoNarrow-Medium.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: ArchivoNarrow;
  src: url(../../fonts/ArchivoNarrow-MediumItalic.woff2) format('woff2'),
    url(../../fonts/ArchivoNarrow-MediumItalic.woff) format('woff'),
    url(../../fonts/ArchivoNarrow-MediumItalic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: ArchivoNarrow;
  src: url(../../fonts/ArchivoNarrow-SemiBold.woff2) format('woff2'),
    url(../../fonts/ArchivoNarrow-SemiBold.woff) format('woff'),
    url(../../fonts/ArchivoNarrow-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: ArchivoNarrow;
  src: url(../../fonts/ArchivoNarrow-SemiBoldItalic.woff2) format('woff2'),
    url(../../fonts/ArchivoNarrow-SemiBoldItalic.woff) format('woff'),
    url(../../fonts/ArchivoNarrow-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: FredokaOne;
  src: url(../../fonts/FredokaOne-Regular.woff2) format('woff2'),
    url(../../fonts/FredokaOne-Regular.woff) format('woff'),
    url(../../fonts/FredokaOne-Regular.ttf) format('truetype');
  font-weight: 400;
}
