@import './fonts';
@import './variables';

@import './form/base';
@import './form/checkbox';
@import './form/inputNumber';
@import './form/inputVector';
@import './form/inputColor';
@import './form/inputText';
@import './form/dropdown';
@import './form/infoField';
@import './form/actionButtons';

@import 'alwan/dist/css/alwan.min.css';
@import './editorTools/smallStats';
@import './editorTools/floatingUIButtons';
@import './editorTools/elemTool';

html {
  font-size: 62.5%;
  @include basetext-font;
  color: $dark-grey1;
  line-height: 1.4;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  background: #010101;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

body > canvas,
#main-stage {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: 11000;
}

.scrollbar {
  scrollbar-width: 2rem;
  scrollbar-color: $dark-grey3 $light-grey7;
  &::-webkit-scrollbar {
    width: 2rem;
  }
  &::-webkit-scrollbar-track {
    background: $light-grey7;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mid-grey1;
    border-radius: 1rem;
    border-left: 0.8rem solid $light-grey7;
    border-right: 0.8rem solid $light-grey7;
  }
}
