@import '../sass/variables';

.topTools {
  display: flex;
  gap: 2rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 500;
  background: transparent;
  user-select: none;
  :global(button.camSelector) {
    width: 14rem;
    :global(.curCamName) {
      display: block;
      width: 100%;
      padding-left: 3.4rem;
      @include heading-font;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    :global(.ui-icon) {
      position: absolute;
      left: 1rem;
    }
  }
}
