.inputText {
  width: 100%;
  max-width: 33.3rem;
  overflow: visible;
  transition: border-color 0.2s ease-in-out;
  label {
    width: 100%;
    height: 100%;
  }
  .form-elem__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 1.3rem;
    padding-left: 0.5rem;
    border: 0;
    outline: none;
    font-family: ArchivoNarrow, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: $dark-grey2;
  }
  .form-elem__error-msg {
    position: absolute;
    top: 100%;
    right: 0.2rem;
    font-size: 1rem;
    font-family: ArchivoNarrow, sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  &.form-elem--error {
    border-color: $error;
  }
}
