@import '../../sass/variables';

.settingsPanel {
  margin-bottom: 1rem;
  position: relative;
  background-color: $light-grey3;
  border-radius: 0.5rem;
  width: 100%;
  h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: $light-grey8;
    width: 100%;
    height: 2.6rem;
    margin: 0;
    padding: 0.4rem 1rem 0.3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    background-color: $mid-grey3;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $mid-grey1;
    }
    &:before,
    &:after {
      display: block;
      content: '';
      width: 0.9rem;
      height: 0.3rem;
      background-color: $white;
      border-radius: 0.1rem;
      position: absolute;
      top: 1.2rem;
      transition: transform 0.2s ease-in-out;
    }
    &:before {
      transform: rotate(45deg);
      right: 1.7rem;
    }
    &:after {
      transform: rotate(-45deg);
      right: 1.3rem;
    }
  }
  :global(.collapsable-panel) {
    margin-bottom: 0;
    h4 {
      width: 100%;
      height: 1.8rem;
      background-color: $light-grey7;
      color: $mid-grey1;
      font-size: 1.3rem;
      font-weight: 400;
      padding-top: 0.1rem;
      &:before,
      &:after {
        background-color: $mid-grey1;
        top: 0.8rem;
      }
      &:before {
        right: 0.9rem;
      }
      &:after {
        right: 0.5rem;
      }
    }
    :global(.collapsable-panel__content) {
      background-color: $light-grey6;
      border-radius: 0 0 0.5rem 0.5rem;
    }
    &:global(.closed) {
      h4 {
        border-bottom: 0.6rem solid $light-grey6;
        height: 2.4rem;
      }
    }
  }
  &:global(.closed) {
    .settingsPanelContent {
      display: none;
    }
    h4 {
      border-radius: 0.5rem;
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.settingsPanelContent {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  text-align: right;
}
